  <mat-list>
    <mat-list-item *ngFor="let track of queue">
      <div fxLayout fxLayoutAlign="space-between center" fxFlex>
<div fxFlex="10%">
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip>
            {{track.votes}}
          </mat-chip>
        </mat-chip-list>
</div>
<div>
        {{track.trackUri}}
</div>
        <div class="button-row right" fxFlex="20%">

          <button mat-icon-button (click)="voteUp(track)">
            <mat-icon aria-label="Up">thumb_up</mat-icon>
          </button>
          <button mat-icon-button (click)="voteDown(track)">
            <mat-icon aria-label="Down">thumb_down</mat-icon>
          </button>
        </div>

    </div>

    </mat-list-item>
  </mat-list>
